[Unit]
Description=Wireguard VPN + Web-based Admin UI
After=network-online.target nss-lookup.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/opt/wg-easy/wgeasy -c="/opt/wg-easy/wg-easy.json"
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
